body{
    width: 500px;
    background-color: burlywood;

}
Body h1{
    font-size: 30px;
    color: grey;
    text-align: center;
    margin: 0 auto;

}
 #tims{
     width: 500px;
     
 }
 #tims img{
    margin-top: 80px;
    width:400px;
    height: auto;
    margin-left: 20px;
 }
 #tims p{
    font-size: 20px;
    color:#781;
    text-align: center;
    margin: 0 auto;
    margin-left: 20px;
    width: 400px;
    margin-top: 60px;
}



@media only screen and (min-width: 500px) {
Body{
    width: 1080px;
    height: 900px;
    background-color: antiquewhite;
}
Body h1{
    font-size: 38px;
    color: yellowgreen;
    margin-left: 380px;
}
#tims{
    width: 1280px;
    float: left;

}
#tims img{
    margin-top: 80px;
    width: 40%;
    height: auto;
    margin-left: 100px;
    float: left;
    
}
#tims p{
    font-size: 20px;
    color: blueviolet;
    text-align: center;
    margin: 0 auto;
    margin-left: 90px;
    width: 400px;
    float: left;
    margin-top: 160px;
}}